/*Formulario para agendar cita*/
body {
    
    width: 100%;
    height: 100%;
}

#navProgramarCita{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 620px;
    padding-top: 120px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

.titulos{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    margin-left: 7px;

}

.campoFormularioProgramarCita {
    width: 585px;
    height: 40px;
    margin: 0 10px 0 5px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#campoConsultaFormProgramarCita{
    width: 585px;
    height: 40px;
    margin: 0 10px 0 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#campoFechaFormProgramarCita{
    width: 585px;
    height: 40px;
    margin: 0 10px 0 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}


button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 0 5px 0 5px;

}


#popUpProgramarCita{
    background-color: rgb(13, 65, 148);
    width: 605px;
    height: 420px;
    border-radius: 10px;    
    border: 2px solid rgb(255, 255, 255);
}


/* Responsive */
@media (max-width: 768px) {
    #navProgramarCita {
        height: auto;
        padding: 10px;
    }
    
    form {
        padding: 0 10px;
    }
    
    .campoFormularioProgramarCita,
    #campoEspecialistaFormProgramarCita,
    #campoFechaFormProgramarCita {
        width: 100%;
    }
    
    button {
        width: 100%;
        margin: 0;
    }
    
    #popUpProgramarCita {
        width: 100%;
        max-width: 100%;
    }
}

/*CONFIRMACION Y ERROR CITA*/

.mensaje-exito {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #e01212; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: none; 
}


