/*Formulario para agendar cita*/
body {
    
    width: 100%;
    height: 100%;
}

#navProgramarCita{
    font-family: Arial, sans-serif;
<<<<<<< HEAD
    background-color: #ffffff;
=======
    background-color: #fe0000;
>>>>>>> Jaider
    display: flex;
    justify-content: center;
    width: 100%;
    height: 620px;
    padding-top: 120px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

.titulos{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    margin-left: 7px;

}

.campoFormularioProgramarCita {
    width: 585px;
    height: 40px;
    margin: 0 10px 0 5px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

<<<<<<< HEAD
#campoConsultaFormProgramarCita{
=======
#campoEspecialistaFormProgramarCita{
>>>>>>> Jaider
    width: 585px;
    height: 40px;
    margin: 0 10px 0 5px;
    border-radius: 5px;
<<<<<<< HEAD
    margin-bottom: 10px;
=======
    margin-bottom: 20px;
>>>>>>> Jaider
}

#campoFechaFormProgramarCita{
    width: 585px;
    height: 40px;
    margin: 0 10px 0 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}


button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 0 5px 0 5px;

}


#popUpProgramarCita{
    background-color: rgb(13, 65, 148);
    width: 605px;
    height: 420px;
    border-radius: 10px;    
    border: 2px solid rgb(255, 255, 255);
}


<<<<<<< HEAD
=======
/* Estilo de confirmación de cita*/
.confirmacion-cita {
    background-color: #4CAF50; 
    color: white;
    padding: 10px;
}

/* Estilo para el error */
.error-cita {
    background-color: #FF5733; 
    color: white; 
    padding: 10px;
}

>>>>>>> Jaider
/* Responsive */
@media (max-width: 768px) {
    #navProgramarCita {
        height: auto;
        padding: 10px;
    }
    
    form {
        padding: 0 10px;
    }
    
    .campoFormularioProgramarCita,
    #campoEspecialistaFormProgramarCita,
    #campoFechaFormProgramarCita {
        width: 100%;
    }
    
    button {
        width: 100%;
        margin: 0;
    }
    
    #popUpProgramarCita {
        width: 100%;
        max-width: 100%;
    }
}

<<<<<<< HEAD
/*CONFIRMACION Y ERROR CITA*/

.mensaje-exito {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: #e01212; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    display: none; 
}

=======
>>>>>>> Jaider

/*ESTILO NAVEGADOR*/

*{
    text-decoration: none;
    list-style: none;
    margin:0;
    box-sizing: border-box;
    }

#nav1{
    position: fixed;
	width: 100%;
	height: 95px;
	background-color:rgb(13, 65, 148);
	z-index: 9;
}
#nav1 img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

#nav1 .lista li{
    float: left;
    list-style: none;
    min-height: 95px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    text-transform: uppercase;
}

#nav1 .lista{
    float: left;
    margin: 0px 1.5%;
    padding-left: 0px;
}


#l1{
    width: auto;
}

#l1 img{
    width: 150px;
    height: auto;
    display: block;
    text-align: center;
    border-radius: 0px;
}
#l2{
    
    color: azure;
    min-height: 95px;
    display: flex;
    align-items: center;
}

#l2 img{
    margin-left: 90px;
    
}

#l2 li a{
    color: azure;
    padding: 10px;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
}

#l3{

    width: auto;
}

#boton{
    padding: 20px 25px;
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(7, 0, 138);
  }

#l4{
    width: auto;
}

#usuario img{
height: 70px;
width: auto;
background-color: aqua;
}


#contenedorcompras{
    top: 95px;
	z-index: 9;
	position: fixed;
	right: 220px;
	width: 20%;
	background-color:rgb(13, 65, 148);
}
#contenedorcompras article{
	width: 100%;
	height: 20vh;
/*	background: red;*/
}

#contenedorcompras article div{
    width: 100%;
    padding: 0;
    margin: 0;
	float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    background-color: aqua;
}

#contenedorcompras .lista8{
    padding: 0;
    margin: 0;

}

#contenedorcompras .lista8 li {
    padding: 10px;
    width: 100%;
    height: 50px;
	background-color:rgb(13, 65, 148);


}

#contenedorcompras .lista8 li {
    padding: 10px;
    width: 100%;
    height: 50px;
    color: beige;
	background-color:rgb(13, 65, 148);


}

#contenedorcompras .lista8 li a{

text-align: center;
color: beige;
margin-bottom: 20px;
}

#contenedorcompras .lista8 li .icono{

    width: 30px;
    height: 30px;
    margin: 0px 10px;

}





/*DESACTIVAR MENU HAMBURGUESA */
.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 95px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
 
#check{
     display: none;
}
/*FIN DESACTIVAR MENU */
/*PAGINA RESPONSIVE TABLETS */
@media (max-width: 1025px){
    
 #l1{
     padding-left: 0%;
     margin-left: 0%;
     }
 ul #lista .l1{
     font-size: 20px;
 }
 #l2 img{
     padding-left:0px;
     margin-left: 0px;
 }
 #l2{
     padding-left:0px;
     margin-left: 0px;
 }
 #l3{
     padding-left:0px;
 }
 #l4{
     display: none;
 }
}
/*PAGINA RESPONSIVE CELULARES */
@media only screen and (max-width: 480px) {



 .checkbtn{
         display: block;
     }
 #l3{
     display: none;
 }
 .lupa{
     display: none;
     margin: 0;
 }
 #l1 img{
     width: 120px;
     height: auto;
 }
 #l2{    
     position: fixed;
     width: 100%;
     height: 100vh;
     background-color:rgb(9, 47, 108) ;
     top: 95px;
     right: -100%;
     text-align: center;
     transition: all .5s;
     margin-right: 0px;
     flex-direction: column;
 }
 
 #l2 li{
     display: block;
     margin: 10px 0;
     height: 50px;
     min-height: 0px;
 }
 #l2 li a{
     font-size: 20px;
     height: 100%;
 }
 #check:checked ~ #l2{
     right: 0;
 }
 
}


-------------------------------------
 #foopets{
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 200px;

}


 #foopets div{
    
    text-align: center;
	background-color:rgb(13, 65, 148);
    color: whitesmoke;
    float: left;
    width: 25%;
    height: 200px ;
    

}

#foopets #fooimg{
    margin-top: 30px;
    width: 250px;
}

.fp1 h3{  
margin-top: 40px;
}

.fp1 img{
    background-color: brown;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-bottom: rgb(255, 0, 0);
}

/*--------------------------------*/

@media (max-width: 1025px){

    #foopets{
        background-color: rgb(255, 0, 0);
        width: 100%;
        height: 400px;
    
    }
    
    
     #foopets div{
        
        text-align: center;
        background-color:rgb(13, 65, 148);
        color: whitesmoke;
        float: left;
        width: 50%;
    
    }

    .fp1{

        width:100%;
    }


    .fp0{

        width:100%;
    }
    
    #foopets #fooimg{
        margin-top: 30px;
        width: 200px;
    }
    
    .fp1 h3{  
    margin-top: 40px;
    }
    
    .fp1 img{
        background-color: brown;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border-bottom: rgb(255, 0, 0);
    }


}